body {
  background-color: #1b1b1b;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fbfbfb;
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: 0.02em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2.7em;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2.3em;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.85em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fbfbfb;
  font-size: 1em;
}

a {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fbfbfb;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  border-left: 0.4em solid #e2e2e2;
  font-size: 140%;
  line-height: 1.6;
}

.container {
  height: 100%;
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto;
}

.style_item {
  padding: 2em 0em;
  border-bottom: 0.1em solid #bdbdbd;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.c-rich-text p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.c-rich-text h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h4 {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

.c-rich-text h5 {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.c-rich-text h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.section {
  display: block;
  height: 100vh;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-4 {
  font-weight: 500;
}

.heading-5 {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.heading-6 {
  font-size: 1.2em;
}

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -ms-grid;
  display: grid;
  height: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.some-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.some-nav.is--footer {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.secondary-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-nav {
  display: block;
  width: 1em;
  height: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav.dot-work {
  display: block;
}

.dot-nav.dot-archive {
  display: block;
}

.dot-nav.dot-contact {
  display: block;
}

.nav-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.footer {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-right: 10.3em;
  margin-left: 10.3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 1em;
}

.some-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.some-footer.is--footer {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.secondary-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dot-nav-work {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav-work.dot-work {
  display: block;
}

.dot-nav-work.dot-archive {
  display: none;
}

.dot-nav-archive {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav-archive.dot-work {
  display: block;
}

.dot-nav-archive.dot-archive {
  display: block;
}

.dot-nav-about {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav-about.dot-work {
  display: block;
}

.dot-nav-about.dot-archive {
  display: block;
}

.div-block-2 {
  display: block;
  width: 50%;
  height: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image {
  height: 100%;
  padding-left: 1.5em;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-3 {
  display: block;
  width: 50%;
  height: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dot-nav-container {
  width: 1em;
  height: 1em;
}

.grid {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.html-embed {
  display: none;
}

.scroll-snap-wrapper {
  overflow: scroll;
  height: 100vh;
}

.section-1 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21.875em;
  margin-bottom: 12em;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.dot-headline {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: 0.1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-headline.dot-work {
  display: block;
}

.dot-headline.dot-archive {
  display: block;
}

.dot-headline.dot-contact {
  display: block;
}

.hero-img {
  overflow: hidden;
  height: 100vh;
  background-image: url('../images/74BFAA55-69DF-43A5-B86C-3E8B9C304521_1_105_c.jpeg');
  background-position: 50% 0%;
  background-size: cover;
}

.image-2 {
  display: none;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-7 {
  width: 21.875em;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 3em;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.5fr;
  grid-template-columns: 2fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.projects-container.last-project {
  margin-bottom: 0em;
}

.projects-container.project-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.75fr;
  grid-template-columns: 2fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.projects-container.project-page-dubble-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
}

.projects-container.project-page-only-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.75fr;
  grid-template-columns: 2fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.project-img {
  width: 100%;
  height: 100%;
  background-image: url('../images/Fourtrack-hero-img.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.project-img.project-1 {
  background-color: #efefef;
  background-image: url('../images/Fourtrack_logo_hero.png');
  background-size: cover;
}

.project-img.project-2 {
  background-image: url('../images/Fourtrack_logo_hero.png');
}

.project-img.project-3 {
  background-image: url('../images/Fourtrack_logo_hero.png');
  background-position: 50% 50%;
  background-size: cover;
}

.project-img.project-1-section-2 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_chrome_fullscreen.jpg');
  background-position: 50% 50%;
  background-size: contain;
}

.project-img.project-1-section-4 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_chrome_fullscreen.jpg');
  background-position: 50% 50%;
  background-size: contain;
}

.project-img.project-1-section-5-1 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_Channels.jpg');
  background-position: 15% 50%;
  background-size: cover;
}

.project-img.project-1-section-5-2 {
  display: block;
  background-color: #efefef;
  background-image: url('../images/Fourtrack_Channels_focused.jpg');
  background-position: 10% 50%;
  background-size: cover;
}

.project-img.project-1-section-6-2 {
  display: block;
  background-color: #efefef;
  background-image: url('../images/Fourtrack_buttons_effects.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-img.project-1-section-6-1 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_chrome_fullscreen_effects.jpg');
  background-position: 20% 50%;
  background-size: cover;
}

.project-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.project-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.link-color {
  color: #ffab23;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-illustrations {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-illustrations.zeros {
  position: absolute;
  left: 39%;
  top: auto;
  right: auto;
  bottom: 0%;
  font-size: 7em;
  line-height: 1;
}

.hero-illustrations.star {
  position: absolute;
  left: auto;
  top: 19%;
  right: 7%;
  bottom: auto;
  font-size: 7em;
  line-height: 1;
}

.text-block {
  position: absolute;
  left: auto;
  top: 75%;
  right: 35%;
  bottom: auto;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.name-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.button.back {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 1em;
  margin-left: 1.5em;
  padding: 0.1em 0em;
  background-color: transparent;
  color: #fbfbfb;
}

.button.back:hover {
  background-color: transparent;
  color: #fbfbfb;
}

.button.next {
  position: fixed;
}

.button.next {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-right: 0em;
  padding-left: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #fbfbfb;
}

.button.next:hover {
  background-color: transparent;
  color: #fbfbfb;
}

.button.back {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-next-bar {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  margin-bottom: 0.6em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.collection-item {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.collection-list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-list-wrapper {
  width: 100%;
}

.div-block-5 {
  width: 100%;
  padding-top: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-6 {
  display: block;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section-6 {
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.show-projects-link {
  margin-top: 1.5em;
}

@media screen and (max-width: 991px) {
  .header {
    -ms-grid-columns: 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 0.5fr 1fr;
  }

  .footer {
    -ms-grid-columns: 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 0.5fr 1fr;
  }

  .hero-img {
    height: 70%;
  }

  .projects-container.project-page {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .projects-container.project-page-dubble-image {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .projects-container.project-page-only-text {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .project-img.project-1 {
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .header {
    -ms-grid-columns: 1fr 1.5fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .some-nav {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

#w-node-_911b5602-36c9-98e7-5547-b90d2bc3ac2d-1b76527a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_39a0423c-f098-38b3-f0d9-f115071c3820-1b76527a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_702cd73d-7865-e18c-7096-0f40c045237d-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-dbeb5a8c-8b4f-0ed5-9019-731eca300254-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a0fbd7d6-6251-8f09-b814-b4b5affaeb97-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_514a4a08-3c2e-e131-53db-23fc3d90cf9b-1b76527a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d0c7aa4f-6c50-19cd-1bd3-46b62d11bb89-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_79aeb05c-e8e5-0e39-3781-17496afc3822-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d0c7aa4f-6c50-19cd-1bd3-46b62d11bb8b-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f4-1b76527a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f6-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_7b807493-482f-1556-18bb-a1ee8a374574-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f9-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b74b8e61-5eaa-e774-1778-6a6cf285b7ef-1b76527a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b74b8e61-5eaa-e774-1778-6a6cf285b7f1-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_97296e6d-80e9-6c73-a503-e0aabcc53d79-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b74b8e61-5eaa-e774-1778-6a6cf285b7f4-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_05ef1cd3-a704-2e55-bf3a-a2c23a99fe79-1b76527a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_05ef1cd3-a704-2e55-bf3a-a2c23a99fe7b-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_61bb1ec6-9146-2678-75f4-a922bebb2d6f-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_05ef1cd3-a704-2e55-bf3a-a2c23a99fe7e-1b76527a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-fd3090e8-b24c-e3b4-d091-c99b1f4e0c0c-1f4e0c0b {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-_897756aa-0d42-ec95-ec9e-b31dfac33b89-fac33b88 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-_897756aa-0d42-ec95-ec9e-b31dfac33b94-fac33b88 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae612-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae615-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae619-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_22d06400-0558-f721-77cc-b9b615739a60-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9c6015d6-94f9-db88-aff7-da72860015a2-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9c6015d6-94f9-db88-aff7-da72860015c3-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_87621218-417b-d94b-8a9a-467cfe1c9aaf-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_87621218-417b-d94b-8a9a-467cfe1c9ab2-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b9c203b4-8368-9d5e-6b36-1b966b6035f9-4372bc95 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-_3d9c5fad-03b9-0ea1-e7f6-1f4bc59981d4-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ad5a9f07-8e37-1734-0b5f-b6203a4adcb2-4372bc95 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-ad5a9f07-8e37-1734-0b5f-b6203a4adcb7-4372bc95 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-_897756aa-0d42-ec95-ec9e-b31dfac33b94-fac33b88 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

