body {
  background-color: #1b1b1b;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fbfbfb;
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: 0.02em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2.7em;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2.3em;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.85em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fbfbfb;
  font-size: 1em;
}

a {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fbfbfb;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  border-left: 0.4em solid #e2e2e2;
  font-size: 140%;
  line-height: 1.6;
}

.container {
  height: 100%;
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto;
}

.style_item {
  padding: 2em 0em;
  border-bottom: 0.1em solid #bdbdbd;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.c-rich-text p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.c-rich-text h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-rich-text h4 {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

.c-rich-text h5 {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.c-rich-text h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.section {
  display: block;
  height: 100vh;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-4 {
  font-weight: 500;
}

.heading-5 {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.heading-6 {
  font-size: 1.2em;
}

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -ms-grid;
  display: grid;
  height: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.some-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.some-nav.is--footer {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.secondary-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-nav {
  display: block;
  width: 1em;
  height: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav.dot-work {
  display: block;
}

.dot-nav.dot-archive {
  display: block;
}

.dot-nav.dot-contact {
  display: block;
}

.nav-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.footer {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-right: 10.3em;
  margin-left: 10.3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 1em;
}

.some-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.some-footer.is--footer {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.secondary-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dot-nav-work {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav-work.dot-work {
  display: block;
}

.dot-nav-work.dot-archive {
  display: none;
}

.dot-nav-archive {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav-archive.dot-work {
  display: block;
}

.dot-nav-archive.dot-archive {
  display: block;
}

.dot-nav-about {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-nav-about.dot-work {
  display: block;
}

.dot-nav-about.dot-archive {
  display: block;
}

.div-block-2 {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 4em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image {
  height: 100%;
  padding-left: 1.5em;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-3 {
  display: block;
  width: 50%;
  height: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dot-nav-container {
  width: 1em;
  height: 1em;
}

.grid {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.html-embed {
  display: none;
}

.scroll-snap-wrapper {
  overflow: scroll;
  height: 100vh;
}

.section-1 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21.875em;
  margin-bottom: 12em;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.dot-headline {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: 0.1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: #fbfbfb;
}

.dot-headline.dot-work {
  display: block;
}

.dot-headline.dot-archive {
  display: block;
}

.dot-headline.dot-contact {
  display: block;
}

.hero-img {
  overflow: hidden;
  height: 100vh;
  background-image: url('../images/000030.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-2 {
  display: none;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-7 {
  width: 21.875em;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: 3em;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.5fr;
  grid-template-columns: 2fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.projects-container.last-project {
  margin-bottom: 0em;
}

.projects-container.project-page {
  display: -ms-grid;
  display: grid;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.75fr;
  grid-template-columns: 2fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.projects-container.project-page-dubble-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
}

.projects-container.project-page-only-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.75fr;
  grid-template-columns: 2fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.projects-container.fullscreen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.projects-container.archive-only-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 0.75fr;
  grid-template-columns: 2fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.projects-container.hero {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.project-img {
  width: 100%;
  height: 100%;
  background-image: url('../images/Fourtrack-hero-img.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.project-img.project-1 {
  background-color: #efefef;
  background-image: url('../images/Fourtrack_logo_hero.png');
  background-size: cover;
}

.project-img.project-1 {
  background-image: url('../images/Fourtrack_logo_hero.png');
}

.project-img.project-3 {
  background-image: url('../images/Our-legacy_temp-thumbnail.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-img.project-1-section-2 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_chrome_fullscreen.jpg');
  background-position: 50% 50%;
  background-size: contain;
}

.project-img.project-1-section-4 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_chrome_fullscreen.jpg');
  background-position: 50% 50%;
  background-size: contain;
}

.project-img.project-1-section-5-1 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Fourtrack_Channels.jpg');
  background-position: 0% 50%;
  background-size: cover;
}

.project-img.project-1-section-5-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Fourtrack_Channels_focused.jpg');
  background-position: 0% 50%;
  background-size: cover;
}

.project-img.project-1-section-6-2 {
  display: block;
  background-color: #efefef;
  background-image: url('../images/Fourtrack_buttons_effects.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-img.project-1-section-6-1 {
  display: block;
  background-color: #f0f0f0;
  background-image: url('../images/Fourtrack_chrome_fullscreen_effects.jpg');
  background-position: 20% 50%;
  background-size: cover;
}

.project-img.project-2 {
  background-color: #a1675b;
  background-image: url('../images/Kollektiva_thumbnail.jpg');
  background-size: contain;
}

.project-img.project-2-section-4-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Kollektiva_Users_grid.jpg');
  background-position: 0% 50%;
  background-size: cover;
}

.project-img.project-2-section-4-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Kollektiva_mobile_user-page2.png');
  background-position: 50% 50%;
  background-size: contain;
}

.project-img.project-2-section-5-1 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Kollektiva_user-screens.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-img.project-2-section-5-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../images/Kollektiva_mobile_user-page2.png');
  background-position: 0% 50%;
  background-size: contain;
}

.project-img.project-2-section-6 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffaf6;
  background-image: url('../images/Kollektiva_Notis.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-img.project-2-section-7 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  background-image: url('../images/Kollektiva_stylesheet.png');
  background-position: 50% 50%;
  background-size: contain;
}

.project-img.project-4 {
  background-image: url('../images/DavidNeråfors_Montage_Liggande.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.project-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.link-color {
  color: #ffab23;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-illustrations {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-illustrations.zeros {
  position: absolute;
  left: 39%;
  top: auto;
  right: auto;
  bottom: 0%;
  font-size: 7em;
  line-height: 1;
}

.hero-illustrations.star {
  position: absolute;
  left: auto;
  top: 19%;
  right: 7%;
  bottom: auto;
  font-size: 7em;
  line-height: 1;
}

.text-block {
  position: absolute;
  left: auto;
  top: 75%;
  right: 35%;
  bottom: auto;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.name-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1em;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.button.back {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 1em;
  margin-left: 1.5em;
  padding: 0.1em 0em;
  background-color: transparent;
  color: #fbfbfb;
}

.button.back:hover {
  background-color: transparent;
  color: #fbfbfb;
}

.button.next {
  position: fixed;
}

.button.next {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-right: 1.5em;
  padding: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #fbfbfb;
}

.button.next:hover {
  background-color: transparent;
  color: #fbfbfb;
}

.button.back {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-next-bar {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  margin-bottom: 0.6em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: transparent;
}

.archive-collection-item {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.archive-collection-list {
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.archive-more-collection-wrapper {
  overflow: auto;
}

.archive-image-list {
  width: 100%;
  padding-top: 67%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.archive-image-wrapper {
  display: block;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.archive-section {
  padding: 4em 1.5em;
}

.show-projects-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 1em;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.show-projects-link.project-3 {
  text-decoration: line-through;
}

.show-projects-link.project-4 {
  text-decoration: line-through;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video {
  position: relative;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-8 {
  width: 640px;
  height: 320px;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 132em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 1vh;
}

.video-2 {
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
}

.background-video-kollektiva {
  width: 100%;
  height: 95%;
}

.image-3 {
  height: 90%;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.content-proj-2-section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fbfbfb;
}

.content-proj-2-section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fbfbfb;
}

.content-proj-2-section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #1b1b1b;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 4em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lottie-animation {
  display: block;
  height: 60px;
}

.scroll-down_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.scroll-down_block.archive {
  position: relative;
  z-index: 50;
  display: block;
  width: 9em;
  height: 4em;
  margin-top: -4em;
  padding-top: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.archive-footer-wrapper {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: visible;
  background-color: #1b1b1b;
}

.archive-image-hero {
  width: 100%;
  height: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-12 {
  height: 100vh;
  padding-top: 4em;
  padding-bottom: 4em;
}

.link-block {
  width: 100%;
}

.empty-state {
  background-color: transparent;
}

.div-block-13 {
  padding-top: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-list-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-4 {
  width: 20em;
  height: 20em;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.archive-list-wrapper {
  overflow: visible;
}

.archive-more-collection-list {
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-archive {
  height: 100vh;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.section-archive.archive-hero {
  height: 100vh;
  padding-top: 4em;
  padding-bottom: 4em;
}

.lottie-animation-2 {
  position: static;
  width: 9em;
  margin-top: -4em;
}

.archive-hero-wrapper {
  height: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 4em;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.img-about {
  background-image: url('../images/000030.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-about-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.lottie-animation-3 {
  width: 9em;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.slug-text-wrapper {
  padding-bottom: 1em;
}

.overview-container.small {
  display: none;
}

.link-archive {
  text-decoration: line-through;
}

.contact-me_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contact-me_block.archive {
  position: relative;
  z-index: 50;
  display: block;
  width: 9em;
  height: 4em;
  margin-top: -4em;
  padding-top: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .header {
    -ms-grid-columns: 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 0.5fr 1fr;
  }

  .footer {
    -ms-grid-columns: 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 0.5fr 1fr;
  }

  .hero-img {
    height: 70%;
  }

  .projects-container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .projects-container.project-page {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .projects-container.project-page-dubble-image {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .projects-container.project-page-only-text {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .projects-container.archive-only-text {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .project-img.project-1 {
    background-size: cover;
  }

  .project-img.project-2 {
    background-size: cover;
  }

  .project-text {
    width: 100%;
  }

  .project-text-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .archive-collection-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .archive-more-collection-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .archive-list-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .archive-more-collection-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .img-about {
    background-position: 35% 50%;
  }

  .div-block-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .slug-text-wrapper {
    width: 50%;
  }

  .info-text-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    -ms-grid-columns: 1fr 1.5fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .some-nav {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 479px) {
  h5 {
    font-size: 0.8em;
    line-height: 1.2;
  }

  a {
    font-size: 0.8em;
    line-height: 1.2;
  }

  .header {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main-nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .dot-nav.dot-work {
    width: 0.8em;
    height: 0.8em;
  }

  .nav-link-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer {
    display: none;
    margin-right: 0em;
    margin-left: 0em;
  }

  .footer.small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .grid {
    display: none;
  }

  .scroll-snap-wrapper {
    height: 85vh;
  }

  .scroll-snap-wrapper.projects {
    height: 85vh;
  }

  .section-1 {
    overflow: hidden;
    height: 100%;
  }

  .section-2 {
    overflow: hidden;
    height: 100%;
  }

  .section-3 {
    overflow: hidden;
    height: 100%;
  }

  .page-wrapper {
    overflow: hidden;
  }

  .dot-headline {
    width: 0.8em;
    height: 0.8em;
  }

  .projects-container {
    height: 100%;
    margin-bottom: 3em;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .projects-container.project-page {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .projects-container.project-page-dubble-image {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .projects-container.project-page-only-text {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .projects-container.fullscreen {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .projects-container.hero {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .project-img.project-1 {
    background-position: 50% 50%;
    background-size: contain;
  }

  .project-img.project-2 {
    background-size: contain;
  }

  .project-img.project-2-section-5-1 {
    background-color: #a1675a;
    background-position: 50% 50%;
    background-size: cover;
  }

  .project-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .section-4 {
    overflow: hidden;
    height: 100%;
  }

  .section-5 {
    overflow: hidden;
    height: 100%;
  }

  .div-block-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .show-projects-link {
    text-decoration: none;
  }

  .show-projects-link.project-3 {
    height: 100%;
    text-decoration: line-through;
  }

  .section-6 {
    height: 100%;
  }

  .section-7 {
    height: 100%;
  }

  .lottie-animation {
    height: 50px;
  }

  .scroll-down_block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .section-about {
    height: auto;
  }

  .about-wrapper {
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .slug-text-wrapper {
    width: 100%;
  }

  .info-text-wrapper {
    width: 100%;
  }

  .body {
    height: 100%;
  }

  .overview-container {
    display: none;
  }

  .overview-container.small {
    display: block;
  }

  .theproblem-container {
    margin-top: 4em;
  }

  .contact-me_block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

#w-node-_702cd73d-7865-e18c-7096-0f40c045237d-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-dbeb5a8c-8b4f-0ed5-9019-731eca300254-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a0fbd7d6-6251-8f09-b814-b4b5affaeb97-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f734513d-f6a4-515f-570b-8318b95ae87b-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f734513d-f6a4-515f-570b-8318b95ae87d-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_6035e2e9-4c26-d5b9-0933-bb037c6039b2-61fca1fd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6035e2e9-4c26-d5b9-0933-bb037c6039b4-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_6035e2e9-4c26-d5b9-0933-bb037c6039b6-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f4-61fca1fd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f6-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_7b807493-482f-1556-18bb-a1ee8a374574-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a1987028-4ebe-8a58-11e6-58e79cfb6e46-61fca1fd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a1987028-4ebe-8a58-11e6-58e79cfb6e48-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a1987028-4ebe-8a58-11e6-58e79cfb6e4a-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_14e908e7-677d-6f5d-f635-ad9b4292eda4-61fca1fd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_14e908e7-677d-6f5d-f635-ad9b4292eda6-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_14e908e7-677d-6f5d-f635-ad9b4292eda8-61fca1fd {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-fd3090e8-b24c-e3b4-d091-c99b1f4e0c0c-1f4e0c0b {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-_897756aa-0d42-ec95-ec9e-b31dfac33b89-fac33b88 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-fcc019d4-ee03-fdcb-b1ec-8293be92f714-73fca212 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f63dbb8-2361-a32b-09ac-3d36a4acb525-8bfca214 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_7f63dbb8-2361-a32b-09ac-3d36a4acb528-8bfca214 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae612-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae615-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae619-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_22d06400-0558-f721-77cc-b9b615739a60-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9c6015d6-94f9-db88-aff7-da72860015a2-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-cd100e1e-866d-d5d5-82d5-4c5714a59c4f-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9c6015d6-94f9-db88-aff7-da72860015c3-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_87621218-417b-d94b-8a9a-467cfe1c9aaf-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_87621218-417b-d94b-8a9a-467cfe1c9ab2-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b9c203b4-8368-9d5e-6b36-1b966b6035f9-0dfca216 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-_3d9c5fad-03b9-0ea1-e7f6-1f4bc59981d4-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ad5a9f07-8e37-1734-0b5f-b6203a4adcb2-0dfca216 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-ad5a9f07-8e37-1734-0b5f-b6203a4adcb7-0dfca216 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae612-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae615-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_22d06400-0558-f721-77cc-b9b615739a60-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9c6015d6-94f9-db88-aff7-da72860015a2-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e19f0ac8-cf15-6d92-4860-372dd287f2b3-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9c6015d6-94f9-db88-aff7-da72860015c3-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_87621218-417b-d94b-8a9a-467cfe1c9ab2-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b9c203b4-8368-9d5e-6b36-1b966b6035f9-88fca217 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-_3d9c5fad-03b9-0ea1-e7f6-1f4bc59981d4-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_56143171-fb8a-e4d3-37fc-1f86d17bbb6a-88fca217 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-ad5a9f07-8e37-1734-0b5f-b6203a4adcb7-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_04848f46-9e95-bc2d-a679-abbe75c924ac-88fca217 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-cb5c2bbb-028f-f235-1827-2a87d0e8e500-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b12ecbd9-c0b8-50b3-4b5f-b9591f8f968b-88fca217 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

#w-node-b12ecbd9-c0b8-50b3-4b5f-b9591f8f968f-88fca217 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-f734513d-f6a4-515f-570b-8318b95ae87b-61fca1fd {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_6035e2e9-4c26-d5b9-0933-bb037c6039b2-61fca1fd {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_6035e2e9-4c26-d5b9-0933-bb037c6039b4-61fca1fd {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f4-61fca1fd {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_08ac16d3-b7d1-ee62-c6aa-63991ba8d6f6-61fca1fd {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-a1987028-4ebe-8a58-11e6-58e79cfb6e46-61fca1fd {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a1987028-4ebe-8a58-11e6-58e79cfb6e48-61fca1fd {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_14e908e7-677d-6f5d-f635-ad9b4292eda4-61fca1fd {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_14e908e7-677d-6f5d-f635-ad9b4292eda6-61fca1fd {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f734513d-f6a4-515f-570b-8318b95ae87b-61fca1fd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-fcc019d4-ee03-fdcb-b1ec-8293be92f714-73fca212 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  #w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae612-0dfca216 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_87621218-417b-d94b-8a9a-467cfe1c9aaf-0dfca216 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_224fa429-1abb-154f-407f-3d4f04abd410-88fca217 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_42b9bb7b-cd3f-0479-7b6a-3ef2105ae612-88fca217 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

