.margin-top-ul {
  margin-top: 0.5em;
}
.margin-bottom-ul {
  margin-bottom: 2em;
}

.mainhead {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em;
}
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-article {
  display: flex;
  flex-direction: column;
}
.case-grid-head {
  grid-column: 1 / span 12;
  grid-row: 1 / span 2;
}
.case-grid-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 10 / span 3;
  grid-row: 4 / span 8;
}
.case-grid-challenge-img {
  grid-column: 10 / span 3;
  grid-row: 4 / span 7;
}
.project-summary {
  grid-column: 1 / span 8;
  grid-row: 4 / span 2;
}
.landscape-img-smoove {
  grid-column: 1 / span 8;
  grid-row: 9 / span 3;
  object-position: 100% 100%;
}
.case-grid-challenge {
  grid-column: 1 / span 12;
  grid-row: 2 / span 2;
}
.case-grid-process {
  grid-column: 7 / span 6;
  grid-row: 6 / span 2;
}
.case-grid-process-img {
  grid-column: 1 / span 5;
  grid-row: 6 / span 6;
}
.case-grid-solution {
  grid-column: 1 / span 13;
  grid-row: 14 / span 5;
}
.case-grid-result {
  grid-column: 1 / span 13;
  grid-row: 17 / span 11;
}
