h1 {
  font-family: "Satoshi", sans-serif;
  font-size: 11em;
  font-weight: 700;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-family: "Satoshi", sans-serif;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  font-family: "Satoshi", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.25em;
  margin-top: 0px;
  margin-bottom: 0px;
}
h5 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25em;
  margin-top: 0px;
  margin-bottom: 0.5em;
}
p {
  font-family: "Satoshi", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.4em;
  margin-top: 0px;
  margin-bottom: 0px;
}
#link-projects {
  font-family: "Satoshi", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
  border: solid 2px white;
  color: black;
  text-align: left;
  text-decoration: underline;
  transform: translate(0px);
  transition: all 500ms;
}
#link-projects:hover {
  transition: all 500ms;
  transform: translate(5px);
}

body {
  background-color: #fffdf9;
}
html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0px 24px 0px;
  gap: 24px;
}
.margin-sides {
  margin: auto;
  padding-left: 8rem;
  padding-right: 8rem;
  max-width: 100%;
}

/* Navbar */
ul {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  list-style-type: none;
  margin: 0;

  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  border: solid 2px white;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-left: 16px;
  text-decoration: none;
}

li a:hover {
  border: 2px solid black;
}

/* Diverse */
.scroll-down {
  background-size: 24px;
  width: 64px;
  height: auto;
}
.scroll-down-center {
  display: flex;
  justify-content: center;
}
.hide-hero-mobile {
  display: none;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.block {
  display: block;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.lineblock {
  border-bottom: solid 4px black;
}
.line-devide {
  border-bottom: 4px solid black;
}
.line-devide-top {
  border-top: 4px solid black;
}
.line-devide-left {
  border-left: 4px solid black;
  padding-left: 2em;
}
.margin-top {
  margin-top: 1em;
}
.margin-bottom {
  margin-bottom: 1em;
}

.container-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-text {
  padding: 5em;
}
.projects-group {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.case-flex {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.grid-container-1 {
  display: grid;
  margin: auto;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 48px);
  grid-auto-rows: 48px;
  grid-auto-flow: dense;
  gap: 1.5rem;
}
.grid-container-2 {
  display: grid;
  margin: auto;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 48px);
  grid-auto-rows: 48px;
  grid-auto-flow: dense;
  gap: 1.5rem;
}
/* Main text */

.item-1 {
  grid-column: 1 / span 14;
  grid-row: 4 / span 3;
}
.item-1-text {
  grid-column: 3 / span 12;
  grid-row: 1 / span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-top: 1em;
}
.item-1-scroll {
  grid-column: 7 / span 1;
  grid-row: 2 / span 1;
  object-fit: cover;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Case 1 */

.item-2 {
  grid-column: 1 / span 6;
  grid-row: 2 / span 7;
}
.item-2-text {
  grid-column: 8 / span 5;
  grid-row: 2 / span 5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Case 2 */

.item-3 {
  grid-column: 1 / span 6;
  grid-row: 10 / span 7;
}
.item-3-text {
  grid-column: 8 / span 5;
  grid-row: 10 / span 5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Case 3 */

.item-4 {
  grid-column: 1 / span 6;
  grid-row: 18 / span 7;
}
.item-4-text {
  grid-column: 8 / span 5;
  grid-row: 18 / span 5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Case 4 */

.item-5 {
  grid-column: 1 / span 6;
  grid-row: 26 / span 7;
}
.item-5-text {
  grid-column: 8 / span 5;
  grid-row: 26 / span 5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Case image */

.case-img {
  margin: auto;
}

.scroll-back-flex {
  display: flex;
  justify-content: center;
}
.scroll-rotate {
  transform: rotate(90deg);
  max-width: 90px;
  max-height: auto;
  margin-top: 100px;
}
.link-social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  margin-top: 4em;
}
